.flex-row-eef {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 1136.188px;
    height: 61px;
    margin: 138.094px auto 0;
    z-index: 186;
  }
  .contact-us {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 110.476px;
    color: #ffffff;
    font-family: DM Sans, var(--default-font-family);
    font-size: 15.2380952835083px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 1.52px;
    z-index: 54;
  }
  .eaeccfefb-logo-crypto-template {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: absolute;
    width: 134.286px;
    height: 30.232px;
    top: 16.313px;
    left: 0;
    z-index: 42;
  }
  .header-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 3.81px;
    position: relative;
    width: 146.667px;
    z-index: 43;
    overflow: hidden;
  }
  .logo {
    flex-shrink: 0;
    position: relative;
    width: 134.095px;
    height: 30.232px;
    z-index: 44;
    overflow: hidden;
  }
  .group {
    position: absolute;
    width: 159.158px;
    height: 34.718px;
    top: 0;
    left: 0;
    background: url(./assets/images/a4aecf07-7be4-4b64-8f24-14feedd82afa.png)
      no-repeat center;
    background-size: cover;
    z-index: 45;
  }